<form [formGroup]="noteForm" class="mb-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       formControlName="filename"
                       placeholder="Enter note title (including extension)...">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <textarea class="form-control"
                          formControlName="content"
                          placeholder="Enter note..."
                          rows="4"
                          cols="50"></textarea>
            </div>
        </div>
    </div>
    <button *ngIf="!note"
            type="button"
            (click)="onAddNote()"
            class="btn btn-success mt-2">Add
    </button>
</form>
