@import "variables";

button {
  margin-left: 10px;
  font-size: $button-font-size;
}

.secondary-title {
  font-size: $secondary-title-font-size;
}

label {
  font-size: $input-label-font-size;
}

.notepad {
  padding-bottom: 50px;
  padding-top: 10px;
}
