<div class="px-4">
    <form>
        <div class="d-flex justify-content-between align-items-end">
            <div class="form-group">
                <label for="notepad_title">Notepad Title</label>
                <input type="text"
                       class="form-control"
                       id="notepad_title"
                       placeholder="My notepad title...">
            </div>
            <div>
                <button type="button" class="btn btn-light border">View Stats</button>
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger">Delete</button>

            </div>
        </div>
        <app-note></app-note>
    </form>
</div>
