@import "variables";

html {
  font-family: Arial, serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $body-background-color !important;
}

.btn-success {
  background-color: $success-color;
}

.btn-danger {
  background-color: $alert-color;
}

.btn-primary {
  background-color: $primary-color;
}

input, textarea, p, label {
  color: $text-color !important;
}

::placeholder {
  color: $text-color;
}

:-ms-input-placeholder {
  color: $text-color;
}

::-ms-input-placeholder {
  color: $text-color;
}
