@import "variables";

html {
  font-family: Arial, serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $body-background-color !important;
}
