<form>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="note_title"
                       placeholder="Enter note title...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
            <textarea
                    class="form-control"
                    placeholder="Enter note...">
            </textarea>
            </div>
        </div>
    </div>

</form>
